<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-iot-video-plugin" version="0.2" 
  xmlns="http://apache.org/cordova/ns/plugins/1.0" 
  xmlns:android="http://schemas.android.com/apk/res/android">
  <name>CordovaIotVideoPlugin</name>
  <engines>
    <engine name="cordova" version=">=3.0.0" />
  </engines>
  <js-module name="CordovaIotVideoPlugin" src="www/CordovaIotVideoPlugin.js">
    <clobbers target="window.CordovaIotVideoPlugin" />
  </js-module>
  <platform name="android">
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="CordovaIotVideoPlugin">
        <param name="android-package" value="cordova.iot.video.plugin.CordovaIotVideoPlugin" />
      </feature>
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/manifest/application/activity">
			<intent-filter>
				<action android:name="com.inspur.zsyw.APP" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</config-file>
    <framework src="src/android/iot-video.gradle" custom="true" type="gradleReference" />
    <resource-file src="src/android/libs/zzskit.aar" target="libs/zzskit.aar" />
    <resource-file src="src/android/province.json" target="assets/province.json" />
    <resource-file src="src/android/rc_file_path.xml" target="res/xml/rc_file_path.xml" />
    <source-file src="src/android/CordovaIotVideoPlugin.java" target-dir="src/cordova/iot/video/plugin" />
  </platform>
</plugin>